<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary col-sm-0 fixed-top side-nav" style="width: 250px; margin-right: 20%;">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="/" class="nav-link active" aria-current="page">
        <svg class="bi pe-none me-2" width="16" height="16">
          <use xlink:href="#home" />
        </svg>
        Home
      </a>
    </li>
    <li>
      <a routerLink="/register" class="nav-link link-body-emphasis">
        <svg class="bi pe-none me-2" width="16" height="16">
          <use xlink:href="#speedometer2" />
        </svg>
        Student registration
      </a>
    </li>
    <li>
      <a routerLink="/students" class="nav-link link-body-emphasis">
        <svg class="bi pe-none me-2" width="16" height="16">
          <use xlink:href="#table" />
        </svg>
        view Students
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-body-emphasis">
        <svg class="bi pe-none me-2" width="16" height="16">
          <use xlink:href="#grid" />
        </svg>
        Courses
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-body-emphasis">
        <svg class="bi pe-none me-2" width="16" height="16">
          <use xlink:href="#people-circle" />
        </svg>
        Resourses
      </a>
    </li>
  </ul>