<div class="container registration-form">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">First Name</label>
    <input type="email" class="form-control" [(ngModel)]="student.firstName"  placeholder="First Name">
  </div>
  
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Last Name</label>
    <input type="email" class="form-control" [(ngModel)]="student.lastName"  placeholder="Last Name">
  </div>
  
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Contact Number</label>
    <input type="email" class="form-control" [(ngModel)]="student.contactNumber" placeholder="Contact Number">
  </div>
  
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Address</label>
    <input type="email" class="form-control" [(ngModel)]="student.address"  placeholder="Address">
  </div>

  <button (click)="addStudent()" class="btn btn-primary">Register</button>
</div>