<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="assets\img\lms.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Bridge Your Intelligence to a Software Career.</h1>
        <p class="lead">iCET: Where Your Exceptional Intelligence Bridges You to the Software Industry Whilst Transforming You to a Software Expert, All without the need for a “TRADITIONAL DEGREE”..</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button routerLink="students" type="button" class="btn btn-primary btn-lg px-4 me-md-2">View Student</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Courses</button>
        </div>
      </div>
    </div>
  </div>